@import "tailwindcss";

@font-face {
  font-family: "Sora";
  src: url("./fonts/Sora-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Sora";
  src: url("./fonts/Sora-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Sora";
  src: url("./fonts/Sora-Bold.ttf");
  font-weight: 700;
}

@theme {
  --color-*: initial;
  --font-*: initial;
  --font-sora: "Sora";
}

body {
  @apply font-sora;
}
