@import "tailwindcss";

@font-face {
  font-family: "Sora";
  src: url("./fonts/Sora-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Sora";
  src: url("./fonts/Sora-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Sora";
  src: url("./fonts/Sora-Bold.ttf");
  font-weight: 700;
}

@theme {
  --color-*: initial;

  --color-neutral-0: hsl(0, 0%, 100%);
  --color-neutral-400: hsl(240, 1%, 59%);
  --color-neutral-500: hsl(240, 3%, 46%);
  --color-neutral-800: hsl(0, 0%, 15%);
  --color-neutral-900: hsl(0, 0%, 7%);

  --color-blue-400: hsl(210, 100%, 65%);
  --color-blue-600: hsl(214, 100%, 55%);

  --color-red-500: hsl(354, 63%, 57%);

  --color-green-500: hsl(140, 63%, 57%);

  --color-yellow-500: hsl(49, 85%, 70%);

  --font-*: initial;
  --font-sora: "Sora";

  --breakpoint-*: initial;
  --breakpoint-sm: 375px;
  --breakpoint-xl: 1440px;
}

body {
  @apply font-sora;
}
