@import "tailwindcss";

@font-face {
  font-family: "Sora";
  src: url("./fonts/Sora-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Sora";
  src: url("./fonts/Sora-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Sora";
  src: url("./fonts/Sora-Bold.ttf");
  font-weight: 700;
}

@theme {
  --color-*: initial;

  --color-neutral-0: hsl(0, 0%, 100%);
  --color-neutral-400: hsl(240, 1%, 59%);
  --color-neutral-500: hsl(240, 3%, 46%);
  --color-neutral-800: hsl(0, 0%, 15%);
  --color-neutral-900: hsl(0, 0%, 7%);

  --color-blue-400: hsl(210, 100%, 65%);
  --color-blue-600: hsl(214, 100%, 55%);

  --color-red-500: hsl(354, 63%, 57%);

  --color-green-500: hsl(140, 63%, 57%);

  --color-yellow-500: hsl(49, 85%, 70%);

  --font-*: initial;
  --font-sora: "Sora";

  --breakpoint-lg: 1440px;
}

@layer base {
  body {
    @apply font-sora text-neutral-0 bg-neutral-900 text-base;
  }

  select {
    @apply text-neutral-0 bg-neutral-900 outline-none focus:outline-none;
  }
}

@layer components {
  .dropdown {
    @apply top-full w-full rounded-xl transition-all duration-300 ease-in-out;
    @apply max-lg:invisible max-lg:absolute max-lg:mt-3 max-lg:overflow-hidden max-lg:bg-neutral-800 max-lg:opacity-0;
    @apply lg:ml-2;
  }

  .option {
    @apply flex items-center gap-x-2 border-transparent px-3 py-2.5 transition-all duration-300 ease-in-out;
    @apply lg:rounded-lg lg:border lg:px-2 lg:py-0.5;
  }

  .option:hover {
    @apply max-lg:bg-blue-600/20;
  }

  .option:has(input:checked) {
    @apply border-blue-400 text-blue-400;
  }

  .option span {
    @apply relative inline-block size-5 rounded-full border-2 lg:hidden;
  }

  .option:has(input:checked) span {
    @apply border-blue-600 bg-blue-600;
  }

  .option:has(input:checked) span:before {
    @apply absolute top-1/2 left-1/2 size-2.5 -translate-1/2 rounded-full bg-neutral-900 content-[''];
  }

  .option input[type="radio"] {
    @apply hidden;
  }

  .option p {
    @apply max-lg:leading-tight;
  }
}

@utility container {
  @apply mx-auto px-3;
}
